header{
    background-color: rgb(255, 255, 255);
}
body{
    background: url(log0-page-img.png);
    background: size 50px;
    background-color: rgb(255, 255, 255);    

}

.login-box{
    max-width: 700px;
    float: none;
    margin: 100px auto;

}

footer{
    text-align: left;
}

a {

    float: right;

    background: rgb(183, 225, 233);

    padding: 10px 15px;

    color: #fff;

    border-radius: 10px;

    margin-right: 10px;

    border: none;

    text-decoration: none;

}

